.autocomplete {
	position: relative;
}

.autocomplete input {
	margin: 5px 20px;
 }

.autocomplete .dropdown {
	position: absolute;
	top: 35px;
	left: 20px;
	z-index: 100;
	width: 175px;
}

.autocomplete .dropdown .list-group {
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}